---
import Button from './Button.astro'

const { title, author, pubDate, comments, likes, shares, decks } = Astro.props
const { Content } = Astro.props.content
---

<div class="mb-1 bg-gray-800 shadow-2xl min-h-[25rem] overflow-y-auto">
    <div class="p-8 border-b border-cyan-400">
        <div class="flex pb-8 gap-4">
            <div class="grow">
                <div class="pb-2 font-space text-2xl text-balance">{title}</div>
                <div class="font-fira text-xs">
                    <a href="#">{author}</a> ¬ {new Date(pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}
                </div>
            </div>
            <div>
                <a href="#" class="w-12 aspect-square rounded-full grid place-content-center font-space text-2xl bg-cyan-400/80 text-white">
                    {author[1].toUpperCase()}
                </a>
            </div>
        </div>
        <div class="pb-16 font-fira-extra text-base">
            <Content />
        </div>
    </div>
    <div class="px-8 py-2 flex items-center justify-between">
        <Button title="Comments" icon="mdi:format-quote-close" value={comments} />
        <Button title="Likes" icon="mdi:check-bold" value={likes} />
        <Button title="Shares" icon="mdi:share" value={shares} />
        <Button title="Decks" icon="mdi:chevron-double-up" value={decks} />
    </div>
</div>

