---
import Card from './Card.astro'

const { cards } = Astro.props
---

<div class="grow relative">
    {cards.map(card =>
        <Card 
            title={card.frontmatter.title}
            author={card.frontmatter.author}
            pubDate={card.frontmatter.pubDate}
            comments={card.frontmatter.comments}
            likes={card.frontmatter.likes}
            shares={card.frontmatter.shares}
            decks={card.frontmatter.decks}
            content={card}
        />
    )}
</div>

<style>
    div > :global(*) {
        position: absolute;
        inset: 2rem;
        bottom: 6rem;
    }
    div > :global(:nth-child(1)) {
        z-index: 9999;
    }
    div > :global(:nth-child(2)) {
        transform: translate(-0.5rem, 1rem);
        z-index: 999;
        background-color: rgb(17, 24, 39);
    }
    div > :global(:nth-child(3)) {
        transform: translate(-1rem, 2rem);
        z-index: 99;
        background-color: rgb(17, 24, 39);
    }
    div > :global(:nth-child(n+2) > *) {
        visibility: hidden;
    } 
    div > :global(:nth-child(n+4)) {
        left: -9999px;
    }      
</style>

